{% extends 'base.html.twig' %}

{% block title %}Modifier une consigne
{% endblock %}

{% block body %}
	<h1>Modifier une consigne</h1>

	{{ include('consigne/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a href="{{ path('app_theme_list_consigne', {'id': consigne.idTheme.id }) }}">Retour à la liste des consignes</a>

	{{ include('consigne/_delete_form.html.twig') }}
{% endblock %}
