{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<h1>Bienvenu(e)
		{% if app.user %}
			{{ app.user.username }}
		{% endif %}
	</h1>
	<div>
		<table>
			{% for listeNews in news %}
				<tr>
					<td class="align-left">
						<h2>
							<a href="#">{{ listeNews.titre }}</a>
						</h2>
						<p>{{ listeNews.contenu|raw }}</p>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>

{% endblock %}
