{% extends 'base2.html.twig' %}

{% block title %}Test théorique
{% endblock %}

{% block body %}

	<h1>Fin du test<br>Repasser la tablette à votre instructeur</h1>

	<a class="link-dark btn btn-success btn-lg" href="/">Retour</a>

{% endblock %}
{% block javascripts %}{% endblock %}
