{% extends 'base.html.twig' %}

{% block title %}NormesAutorisees{% endblock %}

{% block body %}
    <h1>NormesAutorisees</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ normes_autorisee.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_normes_autorisees_index') }}">back to list</a>

    <a href="{{ path('app_normes_autorisees_edit', {'id': normes_autorisee.id}) }}">edit</a>

    {{ include('normes_autorisees/_delete_form.html.twig') }}
{% endblock %}
