{% extends 'base.html.twig' %}

{% block title %}Modifier un critère
{% endblock %}

{% block body %}
	<h1>Modifier un critère</h1>

	{{ include('critere/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a href="{{ path('app_consigne_list_critere', {'id': consigne.id}) }}">Retour à la liste des critères</a>

	{{ include('critere/_delete_form.html.twig') }}
{% endblock %}
