{% extends 'base.html.twig' %}

{% block title %}Nouveau critère
{% endblock %}

{% block body %}
	<h1>Créer un nouveau critère</h1>

	{{ include('critere/_form.html.twig') }}

	<a href="{{ path('app_consigne_list_critere', {'id': consigne.id}) }}">Retour à la liste des critères</a>
{% endblock %}
