{% extends 'base.html.twig' %}

{% block title %}NOuveau dossier
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2 bg-opacity-25">
		<h1>Ajouter un dossier</h1>

		{{ include('dossier/_form.html.twig') }}

		<a href="{{ path('app_dossier_index') }}">Retour à la liste des dossiers</a>
	</section>
{% endblock %}
