{% extends 'base.html.twig' %}

{% block title %}Admin index
{% endblock %}

{% block body %}

	<h1>Gestion des utilisateurs</h1>

	{% if is_granted('ROLE_ULTRAADMIN') %}
		<center>
			<a href="{{ path('app_admin_new') }}">Créer un nouvel utilisateur</a>
		</center>
	{% endif %}

	<table>
		<thead>
			<tr>
				<th>Utilisateurs</th>
				{% if is_granted('ROLE_ULTRAADMIN') %}
					<th>Société</th>
				{% endif %}
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for admin in admins %}
				<tr>
					<td>{{ admin.username }}</td>
					{% if is_granted('ROLE_ULTRAADMIN') %}
						<td>{{ admin.society }}</td>
					{% endif %}
					<td>
						<a href="{{ path('app_admin_edit', {'id': admin.id}) }}">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
