{% extends 'base.html.twig' %}

{% block title %}Modifier un contact{% endblock %}

{% block body %}
    <h1>Modifier un contact</h1>

    {{ include('contact_client/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_contact_client_index') }}">Retour à la liste des contacts</a>

    {{ include('contact_client/_delete_form.html.twig') }}
{% endblock %}
