{% extends 'base.html.twig' %}

{% block title %}Nouveau client
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2 bg-opacity-25">
		<h1>Ajouter un client</h1>

		{{ include('client/_form.html.twig') }}

		<a href="{{ path('app_client_index') }}">Retour à la liste des clients</a>
	</section>
{% endblock %}
