{% extends 'base.html.twig' %}

{% block title %}Edit News
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2 bg-opacity-25">
		<h1>Edit News</h1>

		{{ include('news/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_news_index') }}">back to list</a>

		{{ include('news/_delete_form.html.twig') }}
	</section>
{% endblock %}
