{% extends 'base.html.twig' %}

{% block title %}New Society
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2 bg-opacity-25">
		<h1>Create new Society</h1>

		{{ include('society/_form.html.twig') }}

		<a href="{{ path('app_society_index') }}">back to list</a>
	</section>
{% endblock %}
