{% extends 'base.html.twig' %}

{% block title %}Modifier un Candidat
{% endblock %}

{% block body %}

	<h1>Modifier un candidat</h1>

	{{ include('candidat/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a href="{{ path('app_candidat_index') }}">Retour à la liste des candidats</a>

	{{ include('candidat/_delete_form.html.twig') }}

{% endblock %}
