{% extends 'base.html.twig' %}

{% block title %}Nouveau candidat
{% endblock %}

{% block body %}

	<h1>Créer un nouveau candidat</h1>

	{{ include('candidat/_form.html.twig') }}
	{% if retour|default(null) %}
		<a href="{{ path('app_dossier_index') }}">Retour à la liste des dossiers</a>
	{% else %}
		<a href="{{ path('app_candidat_index') }}">Retour à la liste des candidats</a>
	{% endif %}

{% endblock %}
