{% extends 'base.html.twig' %}

{% block title %}Edit Contact
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2 bg-opacity-25">
		<h1>Edit Contact</h1>

		{{ include('contact/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_contact_index') }}">back to list</a>

		{{ include('contact/_delete_form.html.twig') }}
	</section>
{% endblock %}
