{% extends 'base.html.twig' %}

{% block title %}Nouveau thème
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2 bg-opacity-25">
		<h1>Créer un thème</h1>

		{{ include('theme/_form.html.twig') }}

		<a href="{{ path('app_categorie_list_themes' , {'idnorme': norme.id, 'id': categorie.id}) }}">Retour à la liste thèmes</a>
	</section>
{% endblock %}
