<form method="post" action="{{ path('app_parameters_society_delete', {'id': parameters_society.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parameters_society.id) }}">
    <button class="btn">Delete</button>
</form>
