{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
<section class="bg-secondary p-2 bg-opacity-25">
    <h1>Créer une nouvelle catégorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('app_norme_list_categories', {'id': norme.id} ) }}">Retour à la liste des catégories</a>
</section>
{% endblock %}
