{% extends 'base.html.twig' %}

{% block title %}Modifier une norme
{% endblock %}

{% block body %}

	<h1>Modifier une norme</h1>

	{{ include('norme/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a href="{{ path('app_norme_index') }}">Retour à la liste des normes</a>

	{{ include('norme/_delete_form.html.twig') }}

{% endblock %}
