{% extends 'base.html.twig' %}

{% block title %}Nouvelle norme
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2 bg-opacity-25">
		<h1>Créer une nouvelle norme</h1>

		{{ include('norme/_form.html.twig') }}

		<a href="{{ path('app_norme_index') }}">Retour à la liste des normes</a>
	</section>
{% endblock %}
