{% extends 'base.html.twig' %}

{% block title %}Nouvelle norme
{% endblock %}

{% block body %}

	<h1>Créer une nouvelle norme</h1>

	{{ include('norme/_form.html.twig') }}

	<a href="{{ path('app_norme_index') }}">Retour à la liste des normes</a>

{% endblock %}
